* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    padding: 18px 35px;
}

/* header and navigation styles */
.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: right bottom, left;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

/* Banner Styles */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description {
    color: #757575;
    font-size: 17px;
    margin-bottom: 30px;
}

/* main section */
section{
    margin-top: 130px;
}
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* About section styles */
.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
}

.section-description {
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info .info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* what i do styles */
.skills-container {
    display: flex;
    gap: 24px;
    text-align: center;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
}

.skill-title {
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: #757575;
}
/* Resume styles */
.resume-content{
    display: flex;
    gap: 24px;
}
.resume-item .title{
    font-size: 25px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item .sub-title{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.resume-item .description{
    color: #757575;
}
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* contact styles */
.contact{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.contact .section-title{
    text-align: left;
}
.contact a{
    text-decoration: none;
}

input ,textarea{
    color: #757575;
    margin: 15px 0;
    width: 100%;
    padding: 18px 30px;
    border: 0;
}